
/* add left margin for left vertical tabbar (skip when toolbar-edit-mode active) */
#browser.maximized {
  
  &.tabs-left:has(.auto-hide-wrapper.left.has-tabbar #panels-container) {
    --extraPadding: 41px;
  }

  &.tabs-left:has(.auto-hide-wrapper.left.has-tabbar) {
    #main, #footer{
      padding-left: calc(52px + var(--extraPadding, 0px));
    }
  }

  /* add right margin for right vertical tabbar (skip when toolbar-edit-mode active) */
  &.tabs-right:has(.auto-hide-wrapper.right.has-tabbar) {
    #main, #footer {
      padding-right: calc(52px + var(--extraPadding, 0px));
    }
  }

  .auto-hide-wrapper.left.has-tabbar {
    transform: unset !important;
    left: 0px !important;
    border-radius: 0px var(--radiusWindow) var(--radiusWindow) 0px;
    z-index: 4;

    .tabbar-wrapper {
      border-radius: 0px var(--radiusWindow) var(--radiusWindow) 0px !important;
    }

    .tabbar-wrapper:not(:hover) #tabs-tabbar-container:not(:focus-within) {
      width: 42px !important;
    }

    #tabs-tabbar-container {
      transition: width 0.2s cubic-bezier(0.2, 0.9, 0.6, 1) 0.13s;
    }
  }

  .auto-hide-wrapper.right.has-tabbar {
    transform: unset !important;
    right: 0px !important;
    border-radius: var(--radiusWindow) 0px 0px var(--radiusWindow);
    z-index: 4;

    .tabbar-wrapper {
       border-radius: var(--radiusWindow) 0px 0px var(--radiusWindow);
    }

    .tabbar-wrapper:not(:hover) #tabs-tabbar-container:not(:focus-within) {
      width: 42px !important;
    }

    #tabs-tabbar-container {
      transition: width 0.2s cubic-bezier(0.2, 0.9, 0.6, 1) 0.13s;
    }
  }

  &.unified-ui .auto-hide-wrapper:is(.left, .right).has-tabbar {
      background-image: var(--browserBlurredImage);
      background-size: cover;
    }
}

.auto-hide {
  #browser.maximized {
    .auto-hide-wrapper.show {
      -webkit-app-region: unset !important;
    }

    &.transparent-tabbar.color-behind-tabs-off .auto-hide-wrapper.has-tabbar {
      background: unset !important;
    }
  }
}