#browser.maximized {

    .auto-hide-wrapper.left.has-tabbar, .auto-hide-wrapper.right.has-tabbar {

        &:has(#tabs-subcontainer) {

            &:hover {
                --minWidth: calc(42px + var(--scrollbarWidth));
            }

            &:not(:hover){
                --minWidth: 42px;
            }

            #tabs-container, #tabs-subcontainer {
                transition: max-width var(--animation), min-width var(--animation);
            }
    
            #tabs-container{
                max-width: var(--minWidth);
                min-width: var(--minWidth);
                
                &:hover, &:has(.ToolbarButton-Button.button-pressed){
                    max-width: calc(100% - var(--minWidth)) !important;
                    min-width: calc(100% - var(--minWidth)) !important;
                }
            }

            #tabs-subcontainer{
                max-width: var(--minWidth);
                min-width: var(--minWidth);
            }

            &:has(#tabs-container:not(:hover)):not(:has(.ToolbarButton-Button.button-pressed)) {
                #tabs-subcontainer{
                    max-width: calc(100% - var(--minWidth)) !important;
                    min-width: calc(100% - var(--minWidth)) !important;
                }
            }

            #tabs-container .SlideBar{
                display: none !important;
            }
        }
    }
}