#browser.maximized {

    .auto-hide-wrapper.left.has-tabbar, .auto-hide-wrapper.right.has-tabbar {

        &:has(#tabs-subcontainer) {

            &:hover {
                --minWidth: calc(42px + var(--scrollbarWidth));


                --mainMinWidth: 42px;
                --subMinWidth: 42px;

                &:has(#tabs-container .tab-strip.overflow){
                    --mainMinWidth: calc(42px + var(--scrollbarWidth));
                }

                &:has(#tabs-subcontainer .tab-strip.overflow) {
                    --subMinWidth: calc(42px + var(--scrollbarWidth));
                }
                
            }

            &:not(:hover){
                --minWidth: 42px;
            }

            #tabs-container, #tabs-subcontainer {
                transition: max-width var(--animation), min-width var(--animation);
            }
    
            #tabs-container{
                max-width: var(--mainMinWidth);
                min-width: var(--mainMinWidth);
            }

            &:has(#tabs-container:hover), &:has(#tabs-container .ToolbarButton-Button.button-pressed) {
                --subMinWidth: 42px !important;
                #tabs-container{
                    max-width: calc(100% - var(--subMinWidth)) !important;
                    min-width: calc(100% - var(--subMinWidth)) !important;
                }

                #tabs-subcontainer .tab-strip.overflow{
                    margin: 0 max(calc(var(--densityGap) * 2), 1px) !important;
                    scrollbar-width: none !important;
                    min-width: unset !important;
                    transition: scrollbar-width var(--animation);
                }
            }

            #tabs-subcontainer{
                max-width: var(--subMinWidth);
                min-width: var(--subMinWidth);
            }

            &:has(#tabs-container:not(:hover)):not(:has(.ToolbarButton-Button.button-pressed)) {
                --mainMinWidth: 42px !important;
                #tabs-subcontainer{
                    max-width: calc(100% - var(--mainMinWidth)) !important;
                    min-width: calc(100% - var(--mainMinWidth)) !important;
                }

                #tabs-container .tab-strip.overflow{
                    margin: 0 max(calc(var(--densityGap) * 2), 1px) !important;
                    scrollbar-width: none !important;
                    min-width: unset !important;
                    transition: scrollbar-width var(--animation);
                }
            }

            #tabs-container .SlideBar{
                display: none !important;
            }
        }
    }
}