/* add margin for maximized browser */
.auto-hide {
  #browser.maximized {
    
    .inner {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      border-radius: var(--radius);
    }

    &.unified-ui #webview-container {
      margin-left: 0px;
    }

    &:not(.unified-ui) #webview-container {
      margin-left: 10px;
    }

  }

  #browser #panels-container .panel-group {
    border-color: var(--colorBgAlpha);
    border-radius: var(--radius);
  }

  #webpage-stack {
    border-radius: var(--radius);
  }

  .inner * {
    border-radius: var(--radius);
  }
}