/* add margin for maximized browser */
#browser.auto-hide:not(.fullscreen) {
  &.maximized {
    
    .inner {
      margin-top: var(--topSpace);
      margin-bottom: var(--topSpace);
      border-radius: var(--radius);
    }

    &.unified-ui {

      &.tabs-left {
        --leftMargin: 0px;
        --rightMargin: 10px
      }

      &.tabs-right {
        --leftMargin: 10px;
        --rightMargin: 0px
      }

      &.tabs-off {
        --leftMargin: 10px;
        --rightMargin: 10px;
      }

    }

    &:not(.unified-ui)  {
      --leftMargin: 10px;
      --rightMargin: 10px;
    }

    #webview-container {
      margin-left: var(--leftMargin);
      margin-right: var(--rightMargin);
    }

  }

  #panels-container .panel-group {
    border-color: var(--colorBgAlpha);
    border-radius: var(--radius);
  }

  #webpage-stack {
    border-radius: var(--radius);
  }

  .inner * {
    border-radius: var(--radius);
  }
} 