$timing-function: cubic-bezier(0.2, 0.9, 0.6, 1);
$animation-duration: 0.2s;
$animation-delay-offset: 0.3s;
$tabbar-width-default: 42px;
$tabbar-width-stacking: 84px;
$tabbar-top-space: 12px;
$padding-offset: 5px;
$panel-extra-padding: 41px;
$edge-spacing: 10px;
